body,
body * {
  box-sizing: border-box;
}

body {
  background-color: $c-navy;
  color: #fff;
  font: 13px / 1.5 arial;
}


.header {
  position: sticky;
  background: $c-navy;
  top: 0;
  z-index: 5;
}

.header__bar {
  background: lighten($c-navy, 10%);
  width: 100%;
  height: 4px;
  position: relative;
  margin: 0 0 40px;
  &:after {
    position: absolute;
    content: '';
    left: 50%;
    top: -15px;
    height: 30px;
    border-left: solid 1px $c-white-30;
  }
}

.header__bar-progress {
  display: block;
  height: 4px;
  position: absolute;
  overflow: hidden;
  top: 0;
  transition: width 0.5s ease;

  &--dem {
    background-color: $c-blue;
    border-bottom-left-radius:5px;
    border-top-left-radius: 5px;
    left: 0;
  }
  &--rep {
    background-color: $c-red;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    right: 0;
  }
}

.header__title {
  font: italic normal 15px / 1 georgia;
  padding: 30px 0 0;
  margin: 0 auto;
  text-align: center;
  width: 250px;
}

.header__share-bar {
  text-align: center;
}

.header__score {
  display: flex;
  justify-content: center;
}


.header__count {
  font-size: 40px;
  margin: 0;
  line-height: 1;
  padding: 50px 30px 15px;
  position: relative;

  @include mq(700px) {
    font-size: 72px;
  }

  &--winner {
    &::before {
      content: '';
      border-style: solid;
      border-width: 0 0 3px 3px;
      display: block;
      position: absolute;
      height: 8px;
      left: 50%;
      margin-left: -10px;
      top: 20px;
      transform: rotate(-45deg);
      width: 18px;
    }

    &.header__count--dem::before {
      border-color: $c-blue;
    }

    &.header__count--rep::before {
      border-color: $c-red;
    }
  }

  &--dem {
    color: $c-blue;
  }
    &--rep {
    color: $c-red;
  }
}

.header__buttons {
  padding: 30px 0 15px;
  display: flex;
  justify-content: flex-end;
}

.button {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  color: $c-white;
  cursor: pointer;
  font: 11px / 1 arial;
  display: inline-block;
  text-decoration: none;

  &--pill {
    border: 1px solid $c-white-08;
    border-radius: 5px;
    padding: 12px 20px;

    &:hover {
      background-color: $c-white;
      color: $c-navy;
    }
  }


  &--setting {
    border: 0;
    padding: 0 0 5px;
    border-bottom: 1px solid $c-white-08;

    &:hover {
      color: $c-blue;
    }
  }
}

.header,
.columns-wrap {
  margin: 0 auto;
  max-width: 500px;
  padding: 0 15px;
}


.column {
  list-style: None;
  margin: 0;
  padding: 0 0 50px;;
  position: relative;
  width: 100%;

  &--safe {
    opacity: 0.5;
    padding-bottom: 100px;
  }

  &:after {
    content: '';
    bottom: 0;
    display: block;
    height: 150px;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
}

.column__header {
  font-size: 24px;
  font-weight: bold;
  span {
    display: block;
    font-size: 12px;
    font-weight: normal;
    opacity: 0.5;
  }
}


.state {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 9px 0;
  border-top: 1px solid $c-white-08;

  &:last-of-type {
    border-bottom: 1px solid $c-white-08;
  }
}

$pill-width: 50px;
$pill-height: 17px;

.state__label {
  width: 80%;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.6;
  }
}


.state__articles {
  border-top: 1px solid $c-white-08;
  border-left: 1px solid $c-white-08;
  position: absolute;
  display: block;
  width: 250px;
  padding: 15px 0 5px 0;
  list-style: none;
  opacity: 0;
  top: 0%;
  left: -275px;
  transition: all 0.3s;
  z-index: 5;
  padding: 20px;


  .state:hover & {
    opacity: 1;
  }
}


.state__articles-header {
  color: $c-white;
  font:  normal 18px / 1.2 georgia;
  padding: 0 0 20px;
  margin: 0;
}

.state__article {
  max-width: 100%;
  margin: 0 0 10px;
  padding-left: 20px;
  position: relative;
}

.state__link {
  font: normal 15px / 1.5 arial;
  border-bottom: 1px solid $c-white-08;
  color: $c-white;
  padding-bottom: 2px;
  text-decoration: none;

  &::before {
    content: '↗';
    font-size: 70%;
    color: $c-blue;
    position: absolute;
    left: 0;
    top: 4px;
  }

  &:hover {
    opacity: 0.7;
  }
}

.state__toggle {
  width: $pill-width;
  position: relative;
}


.state__toggle-checkbox,
.state__toggle-pill {
  width: $pill-width;
  height: $pill-height;
}

.state__toggle-checkbox {
  opacity: 0;
  position: absolute;
}

.state__toggle-pill {
  width: $pill-width;
  height: $pill-height;
  background: #eee;
  border-radius: $pill-height / 2;
  position: relative;
  z-index: 1;
  transition: background-color 0.3s ease;
  pointer-events: none;
  transition: transform 0.3s ease-in-out;

  &::before {
    position: absolute;
    background: #fff;
    content: "";
    display: block;
    height: $pill-height - 4px;
    width: $pill-height - 4px;
    top: 2px;
    left: 0;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.3s ease;
  }
}



// Republican
.state__toggle-checkbox ~ .state__toggle-pill {
  background-color: $c-red;
  &::before {
    transform: translateX(#{$pill-width - $pill-height});
  }
}



// Democratic
.state__toggle-checkbox:checked ~ .state__toggle-pill {
  background-color: $c-blue;
   &::before {
    transform: translateX(2px);
  }
}

// Disabled
.state__toggle-checkbox:disabled ~ .state__toggle-pill {
  background-color: $c-gray;
  opacity: 0.3;
}

.state__label {
  font-weight: bold;
  font-size: 11px;
  color: $c-white;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.state__label-votes {
  opacity: 0.5;
  letter-spacing: 0.2px;
  text-transform: none;
  display: inline-block;
  margin-left: 5px;
  font: italic normal 13px / 1  'Georgia', serif;
}

.state__marker {
  width: $pill-height;
  height: $pill-height;
  border-radius: 50%;
  &--dem {
    background: $c-blue;
  }
  &--rep {
    background: $c-red;
  }
}
